{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>


    <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger">
                    <div class="box-header with-border">
                      <h3 class="box-title">Donut Chart</h3>

                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                    <div class="box-body">
                      <canvas id="myChart" style="height: 248px; width: 497px;" width="497" height="248"></canvas>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
              </div>


{% endblock %}

{% block sidebar %}
<!--    <div id="content-related">-->
<!--    <div class="module" id="recent-actions-module">-->
<!--        <h2>{% trans 'Recent actions' %}</h2>-->
<!--        <h3>{% trans 'My actions' %}</h3>-->
<!--            {% load log %}-->
<!--            {% get_admin_log 10 as admin_log for_user user %}-->
<!--            {% if not admin_log %}-->
<!--            <p>{% trans 'None available' %}</p>-->
<!--            {% else %}-->
<!--            <ul class="actionlist">-->
<!--            {% for entry in admin_log %}-->
<!--            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">-->
<!--                {% if entry.is_deletion or not entry.get_admin_url %}-->
<!--                    {{ entry.object_repr }}-->
<!--                {% else %}-->
<!--                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>-->
<!--                {% endif %}-->
<!--                <br/>-->
<!--                {% if entry.content_type %}-->
<!--                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>-->
<!--                {% else %}-->
<!--                    <span class="mini quiet">{% trans 'Unknown content' %}</span>-->
<!--                {% endif %}-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--            </ul>-->
<!--            {% endif %}-->
<!--    </div>-->
<!--</div>-->
{% endblock %}


{% block extra_foot %}
{% load staticfiles %}

<script src="{% static "test_app/scripts/Chart.min.js" %}"></script>
<script>
            $.ajax({
                    methode:'GET',
                    url: '/api/chart',

                    success:function(response)
                    {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: response.labels,
                                datasets: [{
                                    label: '# of Votes',
                                    data: response.defult,
                                    backgroundColor: [
                                        '#f56954',
                                        '#00a65a',
                                        '#f39c12',
                                        '#00c0ef',
                                        '#3c8dbc',
                                        '#d2d6de'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    },error:function(response)
                    {
                        console.log('error');
                        console.log(response);
                    }
                }
            );

</script>
{% endblock %}
